APP_NAME=GymPro
APP_ENV=local
APP_URL=http://localhost/gym_system/v1
APP_TIMEZONE=Asia/Colombo
APP_DEBUG=true
SESSION_SECURE=false

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=gym_membership_db
DB_USER=root
DB_PASS=

MAIL_ENABLED=false
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=GymPro

TRAINER_DOCUMENT_MAX_BYTES=5242880
