.env
/v1/vendor/
/v1/storage/logs/*.log
/v1/storage/trainer-documents/*
!/v1/storage/trainer-documents/.gitkeep
/v1/storage/backups/*
!/v1/storage/backups/.gitkeep
/v1/storage/test-*
/v1/.phpunit.cache/
.phpunit.cache/
/node_modules/
/v3/node_modules/
